.power {
    position: fixed;
    top: 1rem;  
    left: 1rem;    
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.25rem;   
  }

  .git {
    position: fixed;
    top: .85rem; 
    left: 4rem;    
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 0.25rem; 
  }